@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--bgOrange);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 5;
    transition: 0.4s;
  }
}
.nav-menu.active {
  left: 0;
}
